* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* muy recomendable para que el ancho incluya el padding */
 
}

:root {
  --color-secundario: #3498db;   /* azul */
  --color-principal: #001aff;  /* verde */
  --color-fondo: #f5f5f5;       /* gris claro */
  --color-texto: #333333;       /* texto oscuro */
  --color-grisclaro:  #a5e9da;
  /* Azul principal */
  --azul-frances-1: #0072BB; /* azul fuerte, ideal para botones principales */
  /* Tonos más claros */
  --azul-frances-2: #3399DD; /* para hover de botones o tarjetas */
  --azul-frances-3: #66b3ffad; /* fondos suaves o destacados */
  /* Tonos muy claros / background */
  --azul-frances-4: #CCE6FF; /* para secciones o cards claras */
  /* Azul oscuro / acentos */
  --azul-frances-5: #005B8A; /* textos importantes, títulos, iconos */
  /* Gris neutro para complementar */
  --gris-claro: #F5F5F5;
  --gris-medio: #CCCCCC;
  --gris-oscuro: #333333;
}
.orden{ 
  margin: 10px;
  padding: 0;
  box-sizing: border-box;

}
.fondo{
    background-color:var(--azul-frances-1);
  transform: scale(1.05);
}
.cadausuario{
    background-color: #a5e9da;
    padding: 10px;
}

.prueba{
   
   width: 100%;  
  
}
button {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  background: var(--color-secundario);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 4px 8px var(--azul-frances-1);
  transition: background 0.3s, transform 0.2s;
}
button:hover {
  background-color:var(--azul-frances-1);
  transform: scale(1.01);
}
